<div id="helppage" data-role="page">
    <div data-role="header">
        <a href="#mainpage" class="ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all">Main page</a>
        <h1>Help</h1>
	</div><!-- /header -->

	<div data-role="main" class="ui-content">

        <h3 class="ui-bar ui-bar-a ui-corner-all">How to start recording?</h3>
        <div class="ui-body ui-body-a ui-corner-all">
            <p>
                To start recording your own voice or any sound, press the "Push to speak" button.
                When enough voice audio is recorded, press the "Stop" button.
            </p>
        </div>

        <h3 class="ui-bar ui-bar-a ui-corner-all">What does mean "Did I get that right?"</h3>
        <div class="ui-body ui-body-a ui-corner-all">
            <p>
                When the recording stops, you can give us feedback about whether guessed the sound of the language
                correctly.
                Simple answers "Yes" and "No" are usually good enough.
                It would be grate if you can provide correct sound or language label when we get it wrong.
            </p>
        </div>

        <h3 class="ui-bar ui-bar-a ui-corner-all">How do I choose a sound or language label?</h3>
        <div class="ui-body ui-body-a ui-corner-all">
            <p>
                Just type in some letters from the label and choose the correct label from the options that have appeared.
            </p>
        </div>

    </div>

	<div data-role="footer">
		<h4>DSG UFAL MFF CUNI CZ 2014</h4>
	</div><!-- /footer -->
</div>
