<!DOCTYPE html> 
<html>
<head>
	<title>Language Identification</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>

<div data-role="page">
	<div data-role="header">
		<h1>Language Identification</h1>
	</div><!-- /header -->


	<div id="main" data-role="main" class="ui-content">
        <div>
            <button id="push" class="show-page-loading-msg" data-theme="b" data-textonly="false" data-textvisible="true" data-msgtext="Recording audio" data-inline="true">Push to speak</button>
            <button id="stop" class="hide-page-loading-msg" data-theme="a" data-inline="true" data-icon="delete">Stop</button>
        </div>

        <h3 class="ui-bar ui-bar-a ui-corner-all">Detected language</h3>
        <div class="ui-body ui-body-a ui-corner-all">
            <p id="language">None</p>
        </div>

        <h3 class="ui-bar ui-bar-a ui-corner-all">Did I get that right?</h3>
        <div>
            <button id="yes" data-theme="a">Yes</button>
            <button id="no" data-theme="a">No</button>
        </div>

	</div><!-- /content -->


	<div data-role="footer">
		<h4>DSG UFAL MFF CUNI CZ 2014</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
